@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'DM Sans';
}

body {
    background-color: hsl(27, 66%, 92%);
    min-height: 100vh;
    margin: 0px;
}

p {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

.balance-container {
    background-color: hsl(10, 79%, 65%);
    color: white;
    height: 13vh;
    width: 40vw;
    margin: 15vh auto 5vh auto;
    border-radius: 25px;
    padding-top: 3vh;
    padding-left: 3%;
}

.balance-info {
    font-weight: 700;
    font-size: 26px;
}

.balance-chart {
    padding: 2% 3%;
    border-radius: 25px;
    background-color: white;
    height: 50vh;
    width: 40vw;
    margin: 0 auto 10vh;
    overflow: hidden;
}

.graphs-container {
    height: 60%;
}

.graph-header {
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 4.5%;
}

.bar-container:hover .info-spacer {
    width: 130%;
    background-color: #000000;
    position: relative;
    right: 15%;
}

.bar-container {
    width: 10%;
    height: 100%;
    display: block;
    float: left;
}

.info-spacer {
    height: 15%;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: auto;
    font-weight: 700;
    margin-bottom: 10%;
}

span {
    height: 5%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey
}

.bar {
    width: 100%;
    display: block;
    border-radius: 10px;
    background-color: hsl(10, 79%, 65%);
}

.bar-spacer-right {
    margin-right: 5%;
}

.bar-spacer-top {
    background-color: white;
    width: 100%;
    display: block;
}

.bar.maximum {
    background-color: hsl(186, 34%, 60%)
}

.bar:hover {
    background-color: rgb(237, 167, 126) !important;
}

.bottom-info {
    width: 100%;
    display: flex;
    float: left;
}

.bottom-colum {
    width: 50%;
    padding-top: 20px;
    margin-top: auto;
}

.bottom-small {
    color: grey;
}

.bottom-medium {
    font-size: 16px;
    font-weight: 700;
}

.bottom-large {
    font-size: 32px;
    font-weight: 700;

}

.align-right {
    text-align: right;
}