.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(27, 66%, 92%);
    min-height: 100vh;
    margin: 0px;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    text-align: left;
}

p {
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

p.bar-container {
    height: 5%;
}

.centric {
    display: flex;
    justify-content: center;
    position: relative;
}

.balance-container {
    background-color: hsl(10, 79%, 65%);
    color: white;
    padding: 5%;
    height: 10vh;
    width: 50vw;
    margin: 15vh auto 5vh auto;
    border-radius: 25px;
}

.graphs-container {
    border-radius: 25px;
    background-color: white;
    height: 55vh;
    width: 50vw;
    margin: 0 auto auto;
    padding: 5%;
}

.bar-container {
    width: 13%;
    height: 50%;
    display: block;
    float: left;
}

.bar {
    width: 100%;
    display: block;
    background-color: hsl(10, 79%, 65%);
}

.bar-spacer-right {
    margin-right: 1.5%;
}

.bar-spacer-top {
    background-color: white;
    width: 100%;
    display: block;
}

.bar:hover {
    background-color: hsl(186, 34%, 60%)
}